body {
  color: rgb(206, 57, 169);
  background-image: url('pngtree-a-white-background-with-pastel-pink-polka-dots-in-a-seamless-vector-pattern-vector-picture-image_9415971.png');
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}

.teste {
        color: rgb(204, 118, 178);
  
}

.teste2 {
        color: rgb(138, 148, 235);
  
}

a:hover {
    color:rgb(245, 143, 220)
}

